*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  background-color: var(--bg-pramiry-color);
  color: var(--text-primary-color);
}

:root{
  /* bg colors */
  --bg-pramiry-color: #000000;
  --bg-scondary-color: #111111;

  /* text colors */
  --text-primary-color: #eeeeee;
  --text-scondary-color:rgb(255, 47, 0);

  /* border-color */
  --border-primary-color: #6f6f6f;
  --box-border-color: #333333;

  /* border radies  */
  --border-radies-xs: 4px;
  --border-radies-sm: 8px;
  --border-radies-md: 16px;
  --border-radies-lg: 24px;
  --border-radies-xl: 32px;
  --border-radies-xxl: 48px;

  /* spacing variables */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 48px;

}

main{
  height: 100vh;
  width: 100vw;
  padding: var(--space-sm) var(--space-md);
  display: flex;
  flex-direction: column;
}
nav{
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--space-sm);
}
nav .left{
  font-size: 30px;
  font-weight: 800;
}
nav .right button{
  font-size: 15px;
  font-weight: 600;
  padding: var(--space-xs);
  border-radius: var(--border-radies-sm);
  border: 2px solid var(--border-primary-color);
  transition: all 0.3s ease-in-out;
}
nav .right button:hover{
  scale: 1.1;
  background-color: transparent;
  color: var(--text-primary-color);
}

section{
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: var(--space-sm);
}
.task-colum{
  width: 100%;
  background-color: var(--bg-scondary-color);
  border: 2px solid var(--border-primary-color);
  border-radius: var(--border-radies-md);
}
.hoverOver{
  scale: 0.98;
  border: 2px dotted var(--border-primary-color);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.task-colum .heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 var(--space-md) var(--space-sm) var(--space-md);
  font-size: 20px;
  font-weight: 600;
}

.task-colum .task{
  background-color: #050505;
  border: 1px solid var(--box-border-color);
  border-radius: var(--border-radies-lg);
  margin: var(--space-xs);
  padding: var(--space-sm);
  cursor: grab;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal .bg{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.579);
  backdrop-filter: blur(5px);
}
.modal .content{
  width: 25%;
  height: 20%;
  background-color: var(--bg-pramiry-color);
  padding: var(--space-lg);
  padding-bottom: var(--space-sm);
  border: 2px solid var(--box-border-color);
  border-radius: var(--border-radies-sm);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--space-sm);
  position: relative;
}
.modal .content input,textarea{
  width: 100%;
  background-color: transparent;
  color: white;
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--box-border-color);
  border-radius: var(--border-radies-sm);
}
.modal .content button{
  width: 50%;
  background-color: var(--box-border-color);
  color: white;
  font-weight: 600;
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--box-border-color);
  border-radius: var(--border-radies-sm);
  transition: all 0.3s ease-in-out;
}
.modal .content button:hover{
  background-color: transparent;
}
